/*esta hoja de estilo no esta usando por ahora*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	top: 0px;
}
body{
	margin-top: 150px;
	background: #E0E4E5;
	font-family: 'Open Sans', sans-serif;
	background-image: url(../imag/1.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
}
.wrap{
	top: 150px;
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: white;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: white;
	margin: 20px 0;
	box-shadow: 5px 3px 2px black;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #E84C3D;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/

section img{
	width: 150px;
	height: 180px;
}
.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a, label{
	display: block;
	width: 100%;
	padding: 3px 0;
	background: #2D3E50;

	color: #fff;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}



/*Estilos del pie de página de todas las pásginas del sitio web*/
footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}
/*propiedades de todo el pie de página*/
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
}
/*propiedades del cuerpo del pie de página divididas por columnas*/
.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 3px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

/*código para hacer adaptable el formulario a dispositivos moviles*/
@media (max-width: 800px){
	   form{
		width: 100%;
		margin-top: 150px;
	}
}

@media screen and (max-width: 1000px){
    
    .container-body{
        flex-wrap: wrap;
    }
    .container-footer-all{
        margin-top: 0px;
    }
    
    .colum1{
        max-width: 100%;
        margin-left: 10px;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
        margin-left: 40px;
    }
}

@media screen and (min-width: 1000px )and (max-width: 1130px){
 .container-footer-all{
        margin-top: 0px;
    }
